<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.tailwindcss.com"></script>

    <title>{% block title %}{% endblock %} | Cyberdyne</title>
</head>
<body class="bg-green-300">

    <nav class="flex items-center justify-between px-4 py-6 bg-teal-800">
        <div>
            <a href="#" class="text-xl text-white">Cyberdyne</a>
            <a href="{% url 'frontpage' %}" class="text-white px-4  hover:text-gray-400">Home</a>

        </div>
        <div>
            <a href="{% url 'login' %}" class="text-xl text-white px-4  hover:text-gray-400">Login</a>

        </div>


    </nav>
    {% block content %}
    {% endblock %}

</body> 
</html>